Dependencia/inventario/src/main/resources/inventario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="t4is.uv.mx/inventario" 
xmlns:tns="t4is.uv.mx/inventario" elementFormDefault="qualified">

  <xs:element name="ValidarFolioRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FolioInventario" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFolioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="estatus" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
